{% load static %}

<div id="finished_game_message">
  {% include "logo_block.html" %}

  <div class="flex flex-col items-center text-xl">

    {% if is_owner and not is_closed %}

    <div>Play again with the same players?</div>
    <div class="flex flex-row mt-5">
      <form hx-post="/games/reuse_game_code/">
        <input type="hidden" name="code" value="{{ code }}">

        <div class="font-bold">
          <input type="submit" value="Yes">
        </div>
      </form>

      <div class="mx-2">|</div>

      <form hx-post="/games/close_game_code/">
        <input type="hidden" name="code" value="{{ code }}">

        <div class="font-bold">
          <input type="submit" value="No">
        </div>
      </form>
    </div>
    {% elif is_closed %}
    <div class="mt-10">This game code is closed</div>
    <div class="">Click Home to play again</div>
    <a href="/" class="uppercase font-bold">Home</a>
    {% else %}
    <div class="mt-10">Game finished</div>
    {% endif %}
  </div>
</div>

<hr class="mt-10">

<div id="scroll-container">
  <div id="scroll-body">
    {% include "scoreboard.html" %}
    <hr class="mt-20 w-4/6 mx-auto">

    <div class="flex flex-col items-center text-xl">
      <div class="mt-20 font-bold font-round text-xl uppercase">Best Answers</div>
      {% for guess in best_answers %}
      <div class="mt-3">
        {% include "display_guess.html" with guess=guess %}
      </div>
      {% endfor %}

      {% if hardest_prompt %}
      <hr class="mt-20 w-4/6">
      <div class="mt-20 font-bold font-round text-xl uppercase">Hardest Prompt</div>
      {% include "display_guess.html" with guess=hardest_prompt %}
      {% endif %}

      {% if easiest_prompt %}
      <hr class="mt-20 w-4/6">
      <div class="mt-20 font-bold font-round text-xl uppercase">Easiest Prompt</div>
      {% include "display_guess.html" with guess=easiest_prompt %}
      {% endif %}
    </div>

  </div>
</div>
